
/*사용-로그인페이지*/
.btn{
    width: 100%;
    font-family: 'Pretendard';
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    font-family: 'Pretendard';
    cursor: pointer;
}
.btn_filled_gray{
    height: 60px;
    flex-grow: 0;
    padding: 18px;
    border-radius: 4px;
    background-color: #dadce0;
    color: #fff;
    box-sizing: border-box;
}
/* 20220713 추가 */
.btn-outlined-gray__sm{
    padding: 8px 18px;
    border-radius: 4px;
    border: solid 1px #babcc2;
    background-color: #fff;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.42px;
    text-align: center;
    color: #525357;
}
.btn-outlined-rounded-gray__sm{
    padding: 5px 9px;
    border-radius: 100px;
    border: solid 1px #babcc2;
    background-color: #fff;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.7px;
    text-align: center;
    color: #525357;
}
@media (max-width:768px){
    .btn-outlined-gray__sm{
        padding: 11px 18px;
    }
}
/* 20220713 추가 */
.btn_filled_gray.active{
    background-color: #000;
}
.btn_filled_black{
    height: 60px;
    flex-grow: 0;
    padding: 18px;
    border-radius: 4px;
    background-color: #000;
    color: #fff;
    box-sizing: border-box;
}
.btn_outline_black{
    height: 60px;
    padding: 20px;
    border-radius: 4px;
    border: solid 1px #000;
    box-sizing: border-box;
    font-size: 17px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.68px;
    text-align: center;
    color: #000;
}
.btn_text_9b9da3{
    display: inline-block;
    font-family: 'Pretendard';
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.8px;
    color: #9b9da3;
}

/**/

.btn--lnputArea {
    height: 50px;
    margin-top: 26px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.04em;
}
@media (max-width:768px){
    .btn_area.mo-fixed{ 
        position: fixed; bottom: 15px; left: 0; /* right: 0; */ width: 100%; padding: 0 20px; box-sizing: border-box; 
    }
}